/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
    /* Add other styles as needed */
  }
}

/* Apply font-roboto class directly to body */
body {
  @apply font-roboto;
  font-family: 'Roboto', sans-serif;
}

#navbar-search ul li:not(:last-child) {
  margin-bottom: 8px; /* Adjust the margin as needed */
}

#navbar-search ul li a.selected {
  /* Add styles for the selected link */
  font-weight: bold; /* Example: Make the font bold */
  /* Add other styles as needed */
}
